<!-- Featurs Section Start -->
<div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3" *ngFor="let index of Features">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i [class]="index.classi"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>{{index.feature}}</h5>
                        <p class="mb-0">{{index.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featurs Section End -->
